<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Duet AI Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="container p-3">
        <h1>{{.PageTitle}}</h1>
        <div class="row mt-5">
            <div class="col">
                <ul class="list-group">
                    {{range .Stations}}
                    <li class="list-group-item" onclick="showSteetview('{{.Latitude}},{{.Longitude}}', '{{$.MapsApiKey}}')">
                        <div>{{.Name}}</div>
                        <small>{{.BikesVisualization}}</small>
                    </li>
                    {{end}}
                </ul>
            </div>
            <div class="col">
                <iframe width="500" height="800" frameborder="0" style="border:0" id="street-view" class="visually-hidden"
                    referrerpolicy="no-referrer-when-downgrade" src="" allowfullscreen>
                </iframe>
                <div class="card" id="street-view-placeholder" aria-hidden="true">
                    <div class="card-body">
                        <h3>Select a station <br/>on the left!</h3>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</body>
<script>
    function showSteetview(position, mapsKey) {
        document.getElementById('street-view-placeholder').classList.add('visually-hidden')
        const streetViewEmbed = `https://www.google.com/maps/embed/v1/streetview?key=${mapsKey}&location=${position}&heading=210&pitch=10&fov=35`
        console.log(streetViewEmbed)
        document.getElementById('street-view').setAttribute('src', streetViewEmbed)
        document.getElementById('street-view').classList.remove('visually-hidden')
    }
</script>

</html>